<!-- Logo -->
<div id="logo">
  <img src="{{ '/assets/images/iaac2.png'|relative_url }}" style="margin-bottom:20px; width:100%">
  <a href="{{- '/' | absolute_url -}}" id="home-link">
    <h1 id="title">{{- site.title -}}</h1>
    <p>{{- site.subtitle -}}</p>
  </a>
</div>
